/* Popover. */
body.format-etask .popover.etask-popover {
    min-width: 380px;
    max-width: 380px;
}
body.format-etask .badge.badge-success {
    background-color: #28a745;
}
body.format-etask .popover.etask-popover .popover-body {
    padding: 0;
}
/* Progress bars. */
body.format-etask .progress-bar-passed .progress-bar.bar {
    background-color: #28a745;
}
body.format-etask .progress-bar-completed .progress-bar.bar {
    background-color: #ffc107;
}
/* Grade table activity colors. */
body.format-etask .etask-grade-table .completed {
    color: #fff;
    background-color: #ffc107;
}
body.format-etask .etask-grade-table .passed {
    color: #fff;
    background-color: #28a745;
}
body.format-etask .etask-grade-table .failed {
    color: #fff;
    background-color: #dc3545;
}
body.format-etask .etask-grade-table .completed a {
    color: #fff;
}
body.format-etask .etask-grade-table .passed a {
    color: #fff;
}
body.format-etask .etask-grade-table .failed a {
    color: #fff;
}
