.course-content ul.topics {
    margin: 0;
    list-style: none;
}

.course-content ul.topics li.section .content {
    margin: 0 40px;
}

.course-content ul.topics li.section .left,
.course-content ul.topics li.section .right {
    width: 40px;
    padding: 0 6px;
}

.course-content ul.topics li.section .left {
    padding-top: 22px;
    text-align: right;
}

.jsenabled .course-content ul.topics li.section .left,
.jsenabled .course-content ul.topics li.section .right {
    width: auto;
}

.course-content ul.topics li.section .left .section-handle img.icon {
    padding: 0;
    vertical-align: baseline;
}

.course-content ul.topics li.section .section_action_menu .textmenu,
.course-content ul.topics li.section .section_action_menu .menu-action-text {
    white-space: nowrap;
}

/* The grading table popover. */
body.format-etask .popover.etask-popover {
    min-width: 380px;
    max-width: 380px;
}

body.format-etask .popover.etask-popover .popover-body {
    padding: 0;
}

/* Moodle to Bootstrap colors overrides. */
body.format-etask td.bg-success, body.format-etask .badge.badge-success, body.format-etask .progress-bar-passed .progress-bar.bar {
    background-color: #28a745 !important;
}

body.format-etask td.bg-warning, body.format-etask .badge.badge-warning, body.format-etask .progress-bar-completed .progress-bar.bar {
    background-color: #ffc107 !important;
}

body.format-etask td.bg-danger, body.format-etask .badge.badge-danger {
    background-color: #dc3545 !important;
}

/* Backward compatibility due to the older Bootstrap version. */
body.format-etask .mr-n3 {
    margin-right: -15px !important;
}

body.format-etask .ml-n3 {
    margin-left: -15px !important;
}

body.format-etask .mt-n3 {
    margin-top: -15px !important;
}

body.format-etask .text-black-50 {
    color: rgba(0,0,0,.5)!important;
}
