// Breakpoints
$tablet: "(min-width: 450px)";
$mid-point: "(min-width: 750px)";
$desktop: "(min-width: 900px)";

// Colors
$dark-grey: #1b1b1b;
$medium-grey: #666;
$light-grey: #ccc;
$header-color: #6c336d;

$link-color: #4a4a4a;
$link-hover-color: #111;