{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template format_etask/gradingtable_help_popover

    This template renders the grading table help popover.

    Example context (json):
    {
        "version": 2020071901
    }
}}

<div class="popover-container m-3 text-justify">
    {{! @todo translate help popover - provide a link to help page and other useful information, maybe questionnaire link to the future }}
    You are using eTask topics format version {{version}}. For more information go to <a href="https://moodle.org/plugins/format_etask" target="_blank">plugin page</a>.
</div>
