{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template format_etask/popover

    This template renders the eTask popover.

    Example context (json):
    {
        "itemname": "Understanding class definitions",
        "timemodified": 1590760235,
        "completed": 60,
        "passed": 50,
        "duedate": 1590760235,
        "gradetopass": "80",
        "showprogressbars": false,
        "itemmoduleicon": "<img ...>",
        "settingsicon": "<img ...>",
        "showsettings": true
    }
}}

<div class="popover-container m-3">
    <div class="mb-3 text-black-50">
        {{#str}}timemodified, format_etask, {{#userdate}} {{timemodified}}, {{#str}} strftimedaydate, core_langconfig {{/str}} {{/userdate}}{{/str}}
    </div>

    <div class="d-flex mt-2 align-items-start">
        {{{itemmoduleicon}}}
        <div class="d-flex flex-column w-100">
            <a href="#" class="text-decoration-none d-block mb-3">
                <h6 class="d-inline font-weight-bold">{{itemname}}</h6>
            </a>

            {{#duedate}}
                <div class="{{#gradetopass}}mb-1{{/gradetopass}}{{^gradetopass}}mb-3{{/gradetopass}}">
                    <span class="text-black-50">{{#str}}duedate, assign{{/str}}</span> {{#userdate}} {{duedate}}, {{#str}} strftimedaydatetime, core_langconfig {{/str}} {{/userdate}}
                </div>
            {{/duedate}}

            {{#gradetopass}}
                <div class="mb-3">
                    <span class="text-black-50">{{#str}}gradepass, grades{{/str}}</span>
                    <span class="badge badge-pill badge-success">{{gradetopass}}</span>
                </div>
            {{/gradetopass}}

            {{#showprogressbars}}
                <div class="progress-bar-completed pb-1">
                    <div class="progress bg-white border">
                        <div class="progress-bar bar" role="progressbar" aria-valuenow="{{completed}}" style="width: {{completed}}%" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="small">
                        <div class="d-flex justify-content-between">
                            <div>{{#str}}activitycompleted, format_etask{{/str}}</div>
                            <div>{{completed}} %</div>
                        </div>
                    </div>
                </div>

                <div class="progress-bar-passed">
                    <div class="progress bg-white border">
                        <div class="progress-bar bar " role="progressbar" aria-valuenow="{{passed}}" style="width: {{passed}}%" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="small">
                        <div class="d-flex justify-content-between">
                            <div>{{#str}}activitypassed, format_etask{{/str}}</div>
                            <div>{{passed}} %</div>
                        </div>
                    </div>
                </div>
            {{/showprogressbars}}

        </div>
    </div>

    {{#showsettings}}
        <div class="border-top border-secondary mr-n3 ml-n3 mt-3 pt-3">
            <div class="d-flex mt-2 align-items-start pl-3">
                {{{settingsicon}}}
                <div class="d-flex flex-column w-100">
                    <h6 class="d-inline font-weight-bold">Settings</h6>
                    {{{select}}}
                </div>
            </div>
        </div>
    {{/showsettings}}

</div>
